<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>页面错误！</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: left;
            margin: 20px;
        }
        h1 {
            color: #007bff;
        }
        p {
            font-size: 18px;
            color: #6c757d;
        }
    </style>
</head>
<body>
<h1>页面错误，无法正常加载！</h1>
<p>状态码：[[${status}]]</p>

</body>
</html>