<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title?:'is null~'}"></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: left;
            margin: 20px;
        }
        h1 {
            color: #007bff;
        }
        p {
            font-size: 18px;
            color: #6c757d;
        }
    </style>
</head>
<body>
<h1>欢迎使用基于SpringBoot开发的通用管理系统</h1>
<p th:text="${message?:'is null'}">默认信息，会被替换~~</p>
</body>
</html>